.info-yacht {
  padding: 64px 0 56px;

  &__inner {
    padding: 0 0 56px;
  }

  &__cruiser {
    text-transform: uppercase;
    font-size: 14px;

    &--map {

      &:before {
        content: "\f041";
        font-family: 'icomoon' !important;
        color: $text-title;
        font-size: 20px;
      }
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 540px;
    margin-top: 8px;
  }

  &__image {
    max-height: 390px;
    max-width: 600px;
  }

  &__img {
    max-width: 600px;
    width: 100%;
    max-height: 390px;
    height: 100%;
    object-fit: cover;
  }
}