.header-travels {
  height: 385px;

  &__content {
    margin: 0 auto;
    padding: 145px 0 190px;
  }

  &__title {
    margin: 0;
  }

  .active {
    border-bottom: 2px solid $white;
    padding-bottom: 8px;
  }
}