@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Italic.ttf') format('truetype'),
       url('../fonts/Merriweather-Italic.woff') format('woff'),
       url('../fonts/Merriweather-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.ttf') format('truetype'),
       url('../fonts/Merriweather-Bold.woff') format('woff'),
       url('../fonts/Merriweather-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Regular.ttf') format('truetype'),
       url('../fonts/Merriweather-Regular.woff') format('woff'),
       url('../fonts/Merriweather-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
       url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype'),
       url('../fonts/Montserrat-Medium.woff') format('woff'),
       url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
       url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cb4d28');
  src:  url('../fonts/icomoon.eot?cb4d28#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cb4d28') format('truetype'),
    url('../fonts/icomoon.woff?cb4d28') format('woff'),
    url('../fonts/icomoon.svg?cb4d28#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
