html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $text-xs;
  background-color: $white;
  min-width: 320px;
  overflow-x: hidden;
}

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-tour {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  transition: color 0.5 ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.f-jcsb {
  justify-content: space-between;
}

.f-aic {
  align-items: center;
}

.hidden {
  font-size: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 30px;
  line-height: 110%;
  color: $text-title;
}

.btn {
  color: $white;
  background-color: transparent;
  border: 1.5px solid $white;
  border-radius: 800px;
  padding: 15px 30px;
  transition: color 0.5s ease;

  &:hover {
    color: $black;
    background-color: $white;
    box-shadow: 0px 0px 20px 0px rgba(228, 236, 242, 0.2);
  }
}