@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; 
  } 
}

@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin font-xs {
  font-size: 14px;
  font-weight: 600;
}

@mixin transition {
  transition: background 0.5s ease;
}

@mixin btn {
  background-color: rgba(255, 204, 102, 0.8);
  border: transparent;

  &:hover {
    background-color: $bg-btn;
  }
}

@mixin title-tour {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  line-height: 32px;
  color: $text-title;
}

@mixin link-tour {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
  color: $text-title;
}


