@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; 
  } 
}

@mixin font-xs {
  font-size: 14px;
  font-weight: 600;
}

@mixin transition {
  transition: background 0.5s ease;
}

@mixin btn {
  background-color: rgba(255, 204, 102, 0.8);
  border: transparent;

  &:hover {
    background-color: $bg-btn;
  }
}


