$desctop: 1200;
$tablet: 992;
$tablet-large: 768;
$mobile: 576;
$white: #ffffff;
$black: #000000;
$text-xs: #34393C;
$text-title: #1C2226;
$bg-btn: #FFCC66;
$price: #26445A;
$footer-bg: #181A1F;











