.header {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 716px;

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #090909;
    opacity: 0.4;
    z-index: 1;
  }

  &__top {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    margin-top: 24px;
  }

  &__content {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    padding: 224px 0 170px;

    @include r ($tablet) {
      max-width: 700px;
    }

    @include r ($mobile) {
      padding: 120px 0 140px;
    }
  }

  &__title {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: calc(30px + 16 * ((100vw - 320px) / (1200 - 320)));
    color: $white;
    line-height: 62.4px;
    margin: 10px 0 55px;
  }

  &__link-btn {
    @include font-xs;
    padding: 19.5px 35px;
    border-radius: 111px;
    background-color: $bg-btn;
    opacity: 0.9;
    letter-spacing: 0.02em;
    color: $text-title;

    &:hover {
      opacity: 1;
    }
  }

  .menu-fixed {
    position: fixed;
    background-color: #000;
    opacity: 0.88;
    top: 0;
    margin: 0;
    height: 88px;
    transition: background-color 3s ease;
  }

  .logo {
    width: 37px;
    height: 44px;
    margin-left: 50px;
  }

  .menu {
    margin-right: 50px;

    &__body {
      @include r ($tablet) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
      }

      &:before {
        @include r ($tablet) {
          content: "";
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          height: 70px;
          background-color: transparent;
          z-index: 2;
        }
      }

      &._active {
        @include r ($tablet) {
          left: 0;
        }
      }
    }

    &__item {
      margin-left: 43px;

      &:last-child {
        margin-left: 0;
      }

      @include r ($tablet) {
        padding: 10px 0;
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
      }

      &--main {
        display: none;
        @include r ($tablet) {
          display: block;
        }
      }
    }

    &__list {
      margin: 0;

      @include r ($tablet) {
        display: flex;
        flex-direction: column;
      }
    }

    &__link {
      @include font-xs;
      color: $white;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background-color: $white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-in-out;
      }

      @include r ($tablet) {
        font-size: 24px;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &--link-btn {
        margin-left: 33px;
        border-radius: 50em;
        border: 1.5px solid $white;
        padding: 15px 30px;
        @include transition;

        &:hover {
          background-color: $bg-btn;
          color: $text-title;
          border: 1.5px solid $bg-btn;
        }

        &:hover:after {
          transform: scaleX(0);
        }
      }
    }

    &__burger {
      @include r ($tablet) {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
    }

    &__icon {
      display: none;

      @include r ($tablet) {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
      }

      &:after,
      &:before {
        @include r ($tablet) {
          content: "";
          left: 0;
          position: absolute;
          height: 10%;
          width: 100%;
          transition: all 0.3s ease 0s;
          background-color: #fff;
        }
      }

      &::before {
        @include r ($tablet) {
          top: 0;
        }
      }

      &::after {
        @include r ($tablet) {
          bottom: 0;
        }
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }
  
      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }

      &._active .menu__burger {
        transform: scale(0) translate(0px, -50%);
      }
    }
  }
}