.header {
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 716px;

  &:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 716px;
    height: 100%;
    background-color: #090909;
    opacity: 0.4;
    z-index: 1;
  }

  &__top {
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: absolute;
    margin-top: 24px;
  }

  &__content {
    position: relative;
    z-index: 2;
    margin: 120px auto 0;
    text-align: center;
    max-width: 820px;
    padding: 60px 0 0;
  }

  &__title {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 48px;
    color: $white;
    line-height: 62.4px;
    margin: 10px 0 36px;
  }

  &__link-btn {
    @include font-xs;
    padding: 19.5px 35px;
    border-radius: 111px;
    background-color: $bg-btn;
    opacity: 0.9;
    letter-spacing: 0.02em;
    color: $text-title;

    &:hover {
      opacity: 1;
    }
  }

  .menu-fixed {
    position: fixed;
    background-color: #000;
    opacity: 0.88;
    top: 0;
    margin: 0;
    height: 88px;
    transition: background-color 3s ease;
  }

  .logo {
    width: 37px;
    height: 44px;
    margin-left: 50px;
  }

  .menu {
    margin-right: 50px;

    &__item {
      margin-left: 43px;

      &:last-child {
        margin-left: 0;
      }
    }

    &__list {
      margin: 0;
    }

    &__link {
      @include font-xs;
      color: $white;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background-color: $white;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease-in-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: left;
      }

      &--link-btn {
        margin-left: 33px;
        border-radius: 50em;
        border: 1.5px solid $white;
        padding: 15px 30px;
        @include transition;

        &:hover {
          background-color: $bg-btn;
          color: $text-title;
          border: 1.5px solid $bg-btn;
        }

        &:hover:after {
          transform: scaleX(0);
        }
      }
    }
  }
}
