.tour-signup {
  background-color: $footer-bg;

  &__inner {
    padding: 38px 0 55px;
    position: relative;

    @include r ($tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    max-width: 600px;

    &--left {
      padding-top: 79px;

      @include r ($tablet) {
        padding-top: 20px;
      }
    }
  }

  &__title {
    @include title-tour;
    color: $white;
    font-size: 36px;
    font-size: calc(20px + 16 *((100vw - 320px) / (1280 - 320)));
    margin-bottom: 20px;
    line-height: 46px;
  }

  &__item {
    @include title-tour;
    font-size: 16px;
    color: $white;
  }

  &__form {
    position: relative;
    padding: 30px 60px 0;
    margin-left: 30px;

    @include r ($desktop) {
      padding: 30px 10px;
      margin: 30px 0 0 0;
      max-width: 360px;
    }

    @include r ($tablet) {
      top: 30px;
      margin: 0;
    }
  }

  &__title {
    &:before {
      content: " ";
      display: none;
    }
  }
}
