.tour-info {
  background-color: $white;

  &__inner {
    padding: 52px 0 62px;

    @include r ($desctop) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__title {
    @include title-tour;
    font-size: 36px;
    margin-bottom: 43px;

    &--subtitle {
      padding-top: 70px;
    }

    @include r ($tablet) {
      line-height: 1.3em;
    }
  }

  &__boxes {
    margin-bottom: 88px;
  }

  &__box {
    max-width: 600px;

    &--route {
      max-width: 480px;
      padding: 10px 0 42px 46px;

      @include r ($mobile) {
        padding: 10px 0 42px 26px;
      }
    }
  }

  &__text {
    @include title-tour;
    font-size: 16px;
  }

  &__subtitle {
    @include title-tour;
    font-size: 24px;
  }

  &__list {
    list-style: disc;
    margin: 30px 0 0 15px;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      left: -39.6px;
      top: 35px;
      width: 50px;
      border: 1px solid $black;
      transform: rotate(90deg);
    }

    &:last-child:before  {
      border: none;
    }
  }

  &__link {
    @include link-tour;
    font-size: 18px;
    transition: color 0.3s ease;

    &:after {
      content: "\f061";
      font-family: 'icomoon' !important;
      color: $black;
      font-size: 15px;
      margin-left: 10px;
    }

    &:hover {
      opacity: 0.7; 
    }
  }

  &__text-route {
    @include title-tour;
    font-size: 14px;
    margin-top: 46px;
    padding-left: 15px;
    line-height: 28px;
    position: relative;
    border-left:  4px solid $bg-btn;
  }

  .swiper-tour {
    margin: 0 0 88px 30px;
    height: 315px;
    width: 100%;

    @include r ($mobile) {
      margin: 0 0 50px 0;
    }
  }
  
  .slide-tour {
    text-align: center;
    font-size: 18px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .swiper-slide2 {
    max-width: 332px;
    background-size: 332px 315px;
  }
}