.travels {
  text-align: center;
  background-color: $white;
  padding: 76px 0 66px;

  &__inner {
    margin: 67px 0 71px;
  }

  &__link {
    padding: 17px 35px;
    text-transform: uppercase;
    color: $black;
    border: 2px solid $black;
    border-radius: 50px;
    transition: background-color 0.3s ease;

    &:hover {
      color: $white;
      border: transparent;
      background-color: $black;
    }
  }

  
}