.travels {
  text-align: center;
  background-color: $white;
  padding: 76px 0 66px;

  @include r ($tablet) {
    padding: 75px 0 95px;
  }

  @include r ($mobile) {
    padding-top: 30px;
  }

  &__inner {
    margin: 67px 0 60px;
    flex-wrap: wrap;

    @include r ($tablet) {
      justify-content: center;
      margin-bottom: 60px;
    }

    @include r ($mobile) {
     margin-top: 20px;
    }
  }

  &__link {
    padding: 17px 35px;
    text-transform: uppercase;
    color: $black;
    border: 2px solid $black;
    border-radius: 50px;
    transition: background 0.5s ease;

    &:hover {
      color: $white;
      border: transparent;
      background-color: $black;
    }
  }
}