.header-team {
  max-height: 385px;

  @include r ($tablet) {
    max-height: 275px;
  }

  &__content {
    padding: 70px 0;

    @include r ($tablet) {
      padding: 0;
    }
  }

  &__title {
    margin: 0;
  }
}