.header-team {
<<<<<<< HEAD
  &__content {
    padding: 163px 0 160px;
=======
  max-height: 385px;

  &__content {
    padding: 60px 0 140px;
>>>>>>> bd2f4bdcd659ac8a4bfb4957270c5ec4aa83c83b
  }

  &__title {
    margin: 0;
  }
}