.yacht {
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 88px 0 142px;

  &__title {
    margin: 0 auto;
    text-align: center;
  }

  &__inner {
    margin-top: 69px;
  }

  &__title-md {
    font-family: 'Merriweather';
    font-size: 24px;
    font-weight: 400;


    &:before {
      content: " ";
      display: none;
    }
  }

  &__info {
    max-width: 304px;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.06);
  }

  &__images {
    max-width: 304px;
    width: 100%;
    max-height: 291px;
    height: 100%;
  }

  &__img{
    max-width: 304px;
    width: 100%;
    max-height: 291px;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    letter-spacing: 1px;
  }

  &__soon {
    padding-left: 32px;
  }

  &__icon {
    position: absolute;
    top: 10px;
    left: 16px;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 34px 11px 18px;
    color: $text-xs;
    margin-left: 50%;
  }

  &__arrow {
    position: absolute;
    right: 14px;
  }

  &__price {
    margin-top: 22px;
  }
}