.yacht {
  background-image: url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 88px 0 142px;

  @include r ($tablet) {
    padding-bottom: 0;
  } 

  @include r ($mobile) {
    padding: 40px 0 20px;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
  }

  &__inner {
    margin-top: 66px;
    counter-reset: number;

    @include r ($tablet) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__title-md {
    font-family: 'Merriweather';
    font-size: 24px;
    font-weight: 400;


    &:before {
      content: " ";
      display: none;
    }
  }

  &__info {
    max-width: 304px;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.06);
    counter-increment: number;

    &--none {
      @include r ($tablet) {
        display: none;
      }
    }
  }

  &__images {
    max-width: 304px;
    width: 100%;
    max-height: 291px;
    height: 100%;
    position: relative;

    &:after,
    &:before {
      content: " ";
      width: 55px;
      height: 55px;
      border-radius: 50%;
      position: absolute;
    }

    &:after {
      background-color: rgba(76, 120, 151, 0.06);
      position: absolute;
      right: 9px;
      bottom: -31px;
      z-index: 1;
    }

    &:before {
      content: counter(number, decimal-leading-zero) ".";
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Merriweather';
      font-weight: 400;
      font-size: 24px;
      background-color: $white;
      color: $black;
      bottom: -27px;
      right: 14px;
      z-index: 2;
    }
  }

  &__img {
    max-width: 304px;
    width: 100%;
    max-height: 291px;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    letter-spacing: 0.5;
  }

  &__soon {
    padding-left: 32px;
  }

  &__icon {
    position: absolute;
    top: 10px;
    left: 16px;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 34px 11px 18px;
    color: $text-xs;
  }

  &__arrow {
    position: absolute;
    right: 14px;
  }

  &__price {
    margin-top: 22px;
    display: flex;
    justify-content: flex-end;
  }
}